[submodule "flaskGPStest"]
	path = flaskGPStest
	url = https://github.com/jpsthecelt/flaskGPStest.git
[submodule "flaskExp"]
	path = flaskExp
	url = https://github.com/jpsthecelt/flaskExp.git
[submodule "asgpstest"]
	path = asgpstest
	url = https://github.com/jpsthecelt/asgpstest.git
[submodule "asyncTests"]
	path = asyncTests
	url = https://github.com/jpsthecelt/asyncTests.git
[submodule "react-bootstrap-demo"]
	path = react-bootstrap-demo
	url = https://github.com/jpsthecelt/react-bootstrap-demo.git
